# Node modules
node_modules/

# Environment variables
.env

# pending ordera file
pending-orders.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Optional: ignore your local JSON data files if they’re runtime
# pending-orders.json
